---
import "../styles/global.css";

const pageTitle = "About Me";

const identity = {
  firstName: "Sarah",
  country: "Canada",
  occupation: "Technical Writer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <h2>... And My New Astro Site!</h2>
    <p>
      Currently working through Astro's introductory tutorial. This is the
      second page on my website and the first one I built myself!
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
    <p>Here are a few facts about the person who wrote this tutorial:</p>
  </body>
  <ul>
    <li>Her name is {identity.firstName}.</li>
    <li>
      She lives is {identity.country} and she works as a {identity.occupation}
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of her hobbies are: {identity.hobbies[0]} and{" "}
          {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>
    Her skills include:
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </p>
  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }
</html>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
